@import url('https://fonts.googleapis.com/css2?family=HK+Modular:wght@400;700&family=Poppins:wght@300;400;600&family=Questrial&display=swap');

html { 
  scroll-behavior: smooth; 
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
}

* {
    margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.blue {
  color: #40b4ff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}
